In [4]:
import pandas as pd
import numpy as np
import os
import geopy

CLEAN ENEXIS NET

varname = restrictions

In [42]:
urlRestrictions = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Clean_Enexis_net.csv"
dfRestrictions = pd.read_csv(urlRestrictions, header=0, encoding= "unicode_escape", sep ="," )

columnRenaming_restrictions = {'Postal_Code':'Postcode',
                                'Color':'Kleur',
                                'Station':'EnergieStation'}
columnsNecessary_restrictions = ["Postcode", "Kleur", "EnergieStation"]

preProcessed_dfRestrictions = dfRestrictions.rename(columnRenaming_restrictions, axis=1)
preProcessed_dfRestrictions = preProcessed_dfRestrictions[columnsNecessary_restrictions]
preProcessed_dfRestrictions['EnergieStation'] = preProcessed_dfRestrictions['EnergieStation'].str.strip().str.upper()
preProcessed_dfRestrictions.to_csv('2_preprocessed_data/Restrictions.csv', index=False)
preProcessed_dfRestrictions

    Postcode   Kleur         EnergieStation
0     4251AA  ORANJE              BIESBOSCH
1     4254AA  ORANJE              BIESBOSCH
2     4261AA    ROOD               WAALWIJK
3     4264AA    ROOD               WAALWIJK
4     4271AA  ORANJE        GEERTRUIDENBERG
..       ...     ...                    ...
958   9979AA    GEEL           WINSUM RANUM
959   9981AA    GEEL  EEMSHAVEN-MIDDEN 20KV
960   9982AA    GEEL  EEMSHAVEN-MIDDEN 20KV
961   9989AA    GEEL           WINSUM RANUM
962   9991AA    GEEL           WINSUM RANUM

[963 rows x 3 columns]

GEMEENTEN ALFABETISCH

varname = Municipalities

In [43]:
urlMunicipalities = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Gemeenten_alfabetisch_2019.xls"
dfMunicipalities = pd.read_excel(urlMunicipalities)

columnRenaming_municipalities = {}
columnsNecessary_municipalities = ['Gemeentecode','Gemeentenaam','Provinciecode','Provincienaam']

preProcessed_dfMunicipalities = dfMunicipalities[columnsNecessary_municipalities]
preProcessed_dfMunicipalities['Gemeentenaam'] = preProcessed_dfMunicipalities['Gemeentenaam'].str.strip().str.upper()
preProcessed_dfMunicipalities['Provincienaam'] = preProcessed_dfMunicipalities['Provincienaam'].str.strip().str.upper()
preProcessed_dfMunicipalities.to_csv('2_preprocessed_data/Municipalities.csv', index=False)
preProcessed_dfMunicipalities

C:\Users\20175878\AppData\Local\Temp\ipykernel_15872\1785527482.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preProcessed_dfMunicipalities['Gemeentenaam'] = preProcessed_dfMunicipalities['Gemeentenaam'].str.strip().str.upper()
C:\Users\20175878\AppData\Local\Temp\ipykernel_15872\1785527482.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preProcessed_dfMunicipalities['Provincienaam'] = preProcessed_dfMunicipalities['Provincienaam'].str.strip().str.upper()

     Gemeentecode     Gemeentenaam  Provinciecode  Provincienaam
0            1680      AA EN HUNZE             22        DRENTHE
1             358         AALSMEER             27  NOORD-HOLLAND
2             197           AALTEN             25     GELDERLAND
3              59    ACHTKARSPELEN             21      FRIESLAND
4             482     ALBLASSERDAM             28   ZUID-HOLLAND
..            ...              ...            ...            ...
350           879          ZUNDERT             30  NOORD-BRABANT
351           301          ZUTPHEN             25     GELDERLAND
352          1896  ZWARTEWATERLAND             23     OVERIJSSEL
353           642      ZWIJNDRECHT             28   ZUID-HOLLAND
354           193           ZWOLLE             23     OVERIJSSEL

[355 rows x 4 columns]

WINDENERGIE

varname = Wind

In [44]:
urlWind = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Windenergie_op_land__per_provincie_24052022_142754.csv"
dfWind = pd.read_csv(urlWind, header=0, encoding= "unicode_escape", sep =";" )

new_region_name = 'Regio'
columnRenaming_wind = {"ï»¿\"Regio's\"":new_region_name, 
                        "Perioden":"Periode"}
columnsNecessary_wind = ['Regio','Periode',
                            'Elektriciteitsproductie/Genormaliseerde productie (mln kWh)',
                        	'Elektriciteitsproductie/Productiefactor (%)',
                            'Elektrisch vermogen/Opgesteld vermogen einde jaar (megawatt)']
                            
preProcessed_dfWind = dfWind.rename(columnRenaming_wind, axis=1)
preProcessed_dfWind = preProcessed_dfWind[columnsNecessary_wind]
preProcessed_dfWind = preProcessed_dfWind[preProcessed_dfWind['Periode'] == 2019]
preProcessed_dfWind = preProcessed_dfWind.drop('Periode', axis=1)
preProcessed_dfWind[new_region_name] = preProcessed_dfWind[new_region_name].str.replace('/(PV/)', '').str.strip().replace('FryslÃ¢n', 'Friesland').str.upper()



preProcessed_dfWind.to_csv('2_preprocessed_data/WindEnergie.csv', index=False)
preProcessed_dfWind

C:\Users\20175878\AppData\Local\Temp\ipykernel_15872\2814561320.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  preProcessed_dfWind[new_region_name] = preProcessed_dfWind[new_region_name].str.replace('/(PV/)', '').str.strip().replace('FryslÃ¢n', 'Friesland').str.upper()

,Regio,Elektriciteitsproductie/Genormaliseerde productie (mln kWh),Elektriciteitsproductie/Productiefactor (%),Elektrisch vermogen/Opgesteld vermogen einde jaar (megawatt)
0,NEDERLAND,7429.0,"25,9",3527
2,GRONINGEN (PV),986.0,"26,7",450
4,FRYSLÃ¢N (PV),415.0,"25,8",197
6,DRENTHE (PV),NaN,NaN,22
8,OVERIJSSEL (PV),86.0,"23,1",61
10,FLEVOLAND (PV),2424.0,"24,8",1175
12,GELDERLAND (PV),152.0,"22,7",82
14,UTRECHT (PV),78.0,"27,8",34
16,NOORD-HOLLAND (PV),635.0,24,313
18,ZUID-HOLLAND (PV),956.0,"27,7",437
20,ZEELAND (PV),1189.0,"28,3",519
22,NOORD-BRABANT (PV),442.0,"25,3",225
24,LIMBURG (PV),NaN,NaN,13

ENERGIEVERBRUIK PARTICULIER

varname = energyUsage

<sup>--> vraag: willen we iets doen met woningkenmerken (e.g. rijtjeshuis)?<sup>

In [45]:
urlEnergyUsage = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/energieverbruik%20particuliere%20woniningen%20-%2084837NED_UntypedDataSet_21052022_135719.csv"
dfEnergyUsage = pd.read_csv(urlEnergyUsage, header=0, encoding= "unicode_escape", sep =";")

columnRenaming_energyUsage = {"Gemeentenaam_1":'Gemeentenaam', 
                        "GemiddeldAardgasverbruik_4":"GemiddeldAardgasverbruik",
                        "GemiddeldElektriciteitsverbruik_5":"GemiddeldElektriciteitsverbruik"}
columnsNecessary_energyUsage = ["Gemeentenaam", "GemiddeldAardgasverbruik", "GemiddeldElektriciteitsverbruik"]

preProcessed_dfEnergyUsage = dfEnergyUsage.rename(columnRenaming_energyUsage, axis=1)
preProcessed_dfEnergyUsage = preProcessed_dfEnergyUsage[columnsNecessary_energyUsage]

preProcessed_dfEnergyUsage["GemiddeldAardgasverbruik"] = pd.to_numeric(preProcessed_dfEnergyUsage["GemiddeldAardgasverbruik"], errors="coerce")
preProcessed_dfEnergyUsage["GemiddeldElektriciteitsverbruik"] = pd.to_numeric(preProcessed_dfEnergyUsage["GemiddeldElektriciteitsverbruik"], errors="coerce")

grouped_preProcessed_dfEnergyUsage = preProcessed_dfEnergyUsage.groupby(["Gemeentenaam"])[["GemiddeldAardgasverbruik","GemiddeldElektriciteitsverbruik"]].sum().reset_index()
grouped_preProcessed_dfEnergyUsage['Gemeentenaam'] = grouped_preProcessed_dfEnergyUsage['Gemeentenaam'].str.strip().str.upper()

# join with Municipalities to add the Gemeentecode
preProcessed_dfMunicipalities['Gemeentenaam'] = preProcessed_dfMunicipalities['Gemeentenaam'].astype('str')
grouped_preProcessed_dfEnergyUsage['Gemeentenaam'] = grouped_preProcessed_dfEnergyUsage['Gemeentenaam'].astype('str')

Joinedgrouped_preProcessed_dfEnergyUsage = grouped_preProcessed_dfEnergyUsage.merge(preProcessed_dfMunicipalities[['Gemeentecode','Gemeentenaam']], on='Gemeentenaam', how='left')
Joinedgrouped_preProcessed_dfEnergyUsage['Gemeentecode'] = Joinedgrouped_preProcessed_dfEnergyUsage['Gemeentecode'].astype('str').apply(lambda x: x[:-2])
Joinedgrouped_preProcessed_dfEnergyUsage.to_csv('2_preprocessed_data/EnergyUsage.csv', index=False)
Joinedgrouped_preProcessed_dfEnergyUsage

C:\Users\20175878\AppData\Local\Temp\ipykernel_15872\1067704460.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preProcessed_dfMunicipalities['Gemeentenaam'] = preProcessed_dfMunicipalities['Gemeentenaam'].astype('str')

,Gemeentenaam,GemiddeldAardgasverbruik,GemiddeldElektriciteitsverbruik,Gemeentecode
0,'S-GRAVENHAGE,1344290.0,3002430.0,518
1,'S-HERTOGENBOSCH,985580.0,2318090.0,796
2,AA EN HUNZE,632890.0,1093470.0,1680
3,AALSMEER,148310.0,319190.0,358
4,AALTEN,325310.0,690380.0,197
...,...,...,...,...
351,ZUNDERT,186160.0,404530.0,879
352,ZUTPHEN,370140.0,756230.0,301
353,ZWARTEWATERLAND,361420.0,742320.0,1896
354,ZWIJNDRECHT,656700.0,1468820.0,642
355,ZWOLLE,772210.0,1698240.0,193

INWONERS PER GEMEENTE

varname = InhabitantsMunicipality

In [46]:
urlInhabitantsMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/inwoners%20per%20gemeente.csv"
dfInhabitantsMunicipality = pd.read_csv(urlInhabitantsMunicipality, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_inhabitantsMunicipality = {'Gemeente':'Gemeentenaam'}
columnsNecessary_inhabitantsMunicipality = ["Gemeentenaam", "Inwoneraantal" ,"Groot, middelgroot en klein"]
                            
preProcessed_inhabitantsMunicipality = dfInhabitantsMunicipality.rename(columnRenaming_inhabitantsMunicipality, axis=1)
preProcessed_inhabitantsMunicipality = preProcessed_inhabitantsMunicipality[columnsNecessary_inhabitantsMunicipality]

preProcessed_inhabitantsMunicipality["Inwoneraantal"] = pd.to_numeric(preProcessed_inhabitantsMunicipality["Inwoneraantal"], errors="coerce")
preProcessed_inhabitantsMunicipality = preProcessed_inhabitantsMunicipality[preProcessed_inhabitantsMunicipality["Inwoneraantal"] > 30000]
preProcessed_inhabitantsMunicipality['Gemeentenaam'] = preProcessed_inhabitantsMunicipality['Gemeentenaam'].map(lambda x: x.strip("?")).str.strip().str.upper()

preProcessed_inhabitantsMunicipality.to_csv('2_preprocessed_data/InhabitantsMunicipality.csv', index=False)
preProcessed_inhabitantsMunicipality

            Gemeentenaam  Inwoneraantal Groot, middelgroot en klein
1               AALSMEER          31499                       Klein
6                ALKMAAR         108470                       Groot
7                 ALMELO          72629                 Middelgroot
8                 ALMERE         203990                       Groot
9    ALPHEN AAN DEN RIJN         109682                       Groot
..                   ...            ...                         ...
347           ZOETERMEER         124695                       Groot
349             ZUIDPLAS          41882                       Klein
351              ZUTPHEN          47537                       Klein
353          ZWIJNDRECHT          44586                       Klein
354               ZWOLLE         126116                       Groot

[177 rows x 3 columns]

PC6-GWB2020

varname = postcodeMunicipality

In [47]:
urlpostcodeMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/pc6-gwb2020.csv"
dfPostcodeMunicipality = pd.read_csv(urlpostcodeMunicipality, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_postcodeMunicipality = {"PC6":"Postcode",
                                        "Gemeente2020":"Gemeentecode"}
columnsNecessary_postcodeMunicipality = ["Postcode", "Gemeentecode"]
                            
preProcessed_postcodeMunicipality = dfPostcodeMunicipality.rename(columnRenaming_postcodeMunicipality, axis=1)
preProcessed_postcodeMunicipality = preProcessed_postcodeMunicipality[columnsNecessary_postcodeMunicipality]

preProcessed_postcodeMunicipality.to_csv('2_preprocessed_data/postcodeMunicipality.csv', index=False)
preProcessed_postcodeMunicipality

       Postcode  Gemeentecode
0        1011AB           363
1        1011AC           363
2        1011AD           363
3        1011AE           363
4        1011AG           363
...         ...           ...
489648   9999XH          1966
489649   9999XJ          1966
489650   9999XJ          1966
489651   9999XK          1966
489652   9999XL          1966

[489653 rows x 2 columns]

ZONNESTROOM VERMOGEN

varname = sun

In [48]:
urlSun = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/zonnestroom%20vermogen%202019%20-%2085010NED_UntypedDataSet_21052022_134211.csv"
dfSun = pd.read_csv(urlSun, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_sun = {"Gemeentenaam_1":"Gemeentenaam",
                    "AantalInstallatiesBijWoningen_5":"AantalInstallatiesBijWoningen",
                    "OpgesteldVermogenVanZonnepanelen_6":"OpgesteldVermogenVanZonnepanelen"}
columnsNecessary_sun = ["Gemeentenaam", "AantalInstallatiesBijWoningen" , "OpgesteldVermogenVanZonnepanelen"]
                            
preProcessed_sun = dfSun.rename(columnRenaming_sun, axis=1)
preProcessed_sun = preProcessed_sun[columnsNecessary_sun]

grouped_preProcessed_sun = preProcessed_sun.groupby(["Gemeentenaam"])[["AantalInstallatiesBijWoningen", "OpgesteldVermogenVanZonnepanelen"]].sum().reset_index()
grouped_preProcessed_sun = grouped_preProcessed_sun[grouped_preProcessed_sun['Gemeentenaam'] != '                                        ']
grouped_preProcessed_sun['Gemeentenaam'] = grouped_preProcessed_sun['Gemeentenaam'].str.strip()
grouped_preProcessed_sun['Gemeentenaam'] = grouped_preProcessed_sun['Gemeentenaam'].apply(lambda x: x.upper())

grouped_preProcessed_sun.to_csv('2_preprocessed_data/Sun.csv', index=False)
grouped_preProcessed_sun

,Gemeentenaam,AantalInstallatiesBijWoningen,OpgesteldVermogenVanZonnepanelen
1,'S-GRAVENHAGE,29805.0,76786.0
2,'S-HERTOGENBOSCH,18673.0,66087.0
3,AA EN HUNZE,7634.0,29820.0
4,AALSMEER,4866.0,17104.0
5,AALTEN,5919.0,22730.0
...,...,...,...
353,ZUNDERT,3513.0,15257.0
354,ZUTPHEN,8097.0,23831.0
355,ZWARTEWATERLAND,3404.0,11751.0
356,ZWIJNDRECHT,4229.0,13015.0
357,ZWOLLE,28684.0,87308.0

WEERDATA

varname = WeerStation

In [49]:
dfTotaalWeerStations = pd.DataFrame()

path = "1_source_data/klimaattabellen"
WS_list = os.listdir(path)

for WS in WS_list:
    urlWeerStation = f"https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/klimaattabellen/{WS}"
    ColumnNames = ['metric', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec', 'winter', 'lente', 'zomer', 'herfst', 'jaar']
    dfWeerStation = pd.read_csv(urlWeerStation, encoding= "unicode_escape", sep = ",", comment='#', names=ColumnNames).set_index('metric')['jaar']
    dfTotaalWeerStations[WS[:-4]] = dfWeerStation
    
dfTotaalWeerStations = dfTotaalWeerStations.T

In [50]:
dfTotaalWeerStations.columns = dfTotaalWeerStations.columns.map(lambda x: x.strip(" "))

columnsNecessary_WeerStation = [col for col in dfTotaalWeerStations.columns if col.startswith('FXX') or col.startswith('pct') or col.startswith('FG')]
columnsNecessary_WeerStation.append('TG_gemiddeld')

preProcessed_TotaalWeerStation = dfTotaalWeerStations[columnsNecessary_WeerStation].reset_index()
preProcessed_TotaalWeerStation = preProcessed_TotaalWeerStation.rename_axis(None, axis=1)
preProcessed_TotaalWeerStation = preProcessed_TotaalWeerStation.rename({'index':'WeerStation'}, axis=1)
preProcessed_TotaalWeerStation['WeerStation'] = preProcessed_TotaalWeerStation['WeerStation'].str.replace('_', ' ').str.upper()

preProcessed_TotaalWeerStation = preProcessed_TotaalWeerStation[['WeerStation','pctzon_gemiddeld','FG_gemiddeld']]

preProcessed_TotaalWeerStation.to_csv('2_preprocessed_data/TotaalWeerStation.csv', index=False)
preProcessed_TotaalWeerStation

               WeerStation pctzon_gemiddeld FG_gemiddeld
0                    ARCEN             35.8          3.1
1                 BERKHOUT             38.6          NaN
2                   CABAUW                -          4.3
3                   DEELEN             35.0          3.8
4                  DE BILT             36.4          3.6
5                  DE KOOI             39.8          5.6
6                    EELDE             35.6          4.2
7                EINDHOVEN             36.9          3.8
8              GILZE-RIJEN             36.9          3.7
9                HERWIJNEN             37.6          4.1
10        HOEK VAN HOLLAND             40.0          7.3
11               HOOGEVEEN             36.3          4.0
12                   HOORN             39.4          6.3
13                  HUPSEL             36.3          3.4
14              LEEUWARDEN             38.0          4.7
15                LELYSTAD             37.6          4.4
16              MAASTRICHT             36.1          4.2
17               MARKNESSE             38.2          4.2
18            NIEUW BEERTA             36.6          5.0
19               ROTTERDAM             37.1          4.4
20                SCHIPHOL             37.7          5.0
21                STAVOREN             40.0          5.9
22                 TWENTHE             35.7          3.5
23  VALKENBURG VOORSCHOTEN             39.0          4.8
24              VLISSINGEN             40.2          6.4
25                  VOLKEL             37.2          3.7
26               WESTDORPE             37.7          4.2

In [51]:
dfLocatie_Weerstations = pd.DataFrame(columns=["LON(east)", "LAT(north)", "ALT(m)", "WeerStation"])
path = "1_source_data/klimaattabellen"
WS_list = os.listdir(path)


for WS in WS_list:
    #hoek van holland is in another format for some reason
    if WS != "Hoek_van_Holland.csv":
        urlWeerStation = f"https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/klimaattabellen/{WS}"
        # we get just the ninth row, pandas will interpret it as a dataframe with 1 column and no rows.
        dfWeerStation = pd.read_csv(urlWeerStation, encoding= "unicode_escape", sep = "," ,skiprows=lambda x: x != 9) 
        # so we take the name of that column as our raw lat long string
        # its in the format:
        #"# STN:         LON(east)       LAT(north)      ALT(m)  NAME"
        raw = dfWeerStation.columns[0]
        # format it into an array of format [LON(east), LAT(norht), ALT(m), NAME]
        raw = raw.split("  ")[1:]
        raw[:] = [x.strip() for x in raw if x]
        
        #turn it into a dataframe and concat it with the previous entries
        data = pd.DataFrame(pd.Series(raw, index=["LON(east)", "LAT(north)","ALT(m)","WeerStation"])).T
        dfLocatie_Weerstations = pd.concat([dfLocatie_Weerstations, data], axis=0, ignore_index=True)

dfLocatie_Weerstations['WeerStation'] = dfLocatie_Weerstations['WeerStation'].str.strip()

dfLocatie_Weerstations.to_csv('2_preprocessed_data/LocatieWeerStation.csv', index=False)
dfLocatie_Weerstations

   LON(east) LAT(north)  ALT(m)           WeerStation
0      6.197     51.498   19.50                 ARCEN
1      4.979     52.644   -2.40              BERKHOUT
2      4.926     51.970   -0.70                CABAUW
3      5.873     52.056   48.20                DEELEN
4      5.180     52.100    1.90               DE BILT
5      4.781     52.928    1.20               DE KOOY
6      6.585     53.125    5.20                 EELDE
7      5.377     51.451   22.60             EINDHOVEN
8      4.936     51.566   14.90           GILZE-RIJEN
9      5.146     51.859    0.70             HERWIJNEN
10     6.574     52.750   15.80             HOOGEVEEN
11     5.346     53.392    0.70  HOORN (TERSCHELLING)
12     6.657     52.069   29.10                HUPSEL
13     5.752     53.224    1.20            LEEUWARDEN
14     5.520     52.458   -3.70              LELYSTAD
15     5.762     50.906  114.30            MAASTRICHT
16     5.888     52.703   -3.30             MARKNESSE
17     7.150     53.196   -0.20          NIEUW BEERTA
18     4.447     51.962   -4.30             ROTTERDAM
19     4.790     52.318   -3.30              SCHIPHOL
20     5.384     52.898   -1.30              STAVOREN
21     6.891     52.274   34.80               TWENTHE
22     4.437     52.141   -1.10           VOORSCHOTEN
23     3.596     51.442    8.00            VLISSINGEN
24     5.707     51.659   22.00                VOLKEL
25     3.861     51.226    1.70             WESTDORPE

In [52]:
# # from shapely.ops import cascaded_union

# # urlgeolocMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/Municipalities.csv"
# # dfgeolocMunicipality = pd.read_csv(urlgeolocMunicipality) #, header=0, encoding= "unicode_escape sep =";" )

# # urlgeolocMunicipality = 'https://opendata.arcgis.com/datasets/620c2ab925f64ed5979d251ba7753b7f_0.geojson' 
# # dfgeolocMunicipality = gpd.read_file(urlgeolocMunicipality).rename({'GM_CODE':'Gemeentecode','GM_NAAM':'Gemeentenaam'})
# # dfgeolocMunicipality = dfgeolocMunicipality[['Gemeentecode','Gemeentenaam','geometry']].to_crs(pyproj.CRS.from_epsg(4326))

# # lattitudes = []
# # longitudes = []
# # for i, row in dfgeolocMunicipality.iterrows():
# #         if row["geometry"].geom_type == 'MultiPolygon':
# #             #print(gpd.GeoSeries(cascaded_union(row["geometry"])))
# #             #rawcoords = gpd.GeoSeries(cascaded_union(row["geometry"])).split(")
# #             processedcoords = [list(x.exterior.coords) for x in row["geometry"].geoms]
# #             break 
# #         else:
# #             rawcoords = row["geometry"].split(")
# #             processedcoords = []
# #             #idk why, but some coordinates start with "0.0" before the actual coordinate
# #             #Its probably alright to remove those
# #             for coord in rawcoords:
# #                 coord = ''.join(c for c in coord if (c.isdigit() or c =='.'))
# #                 if coord[:3] == "0.0":
# #                     coord = coord[3:]
# #                 if coord != "":
# #                     processedcoords.append(float(coord))
        
# #         print(processedcoords)

# #         tot_lat = 0
# #         tot_lon = 0
        
# #         if len(processedcoords) % 2 != 0:
# #             print("oh noes something is wrong")
            
# #         #add together all lattitude and longitude values
# #         for i in range(len(processedcoords)):
# #             if i%2 == 0:
# #                 tot_lon += processedcoords[i]
# #             else:
# #                 tot_lat += processedcoords[i]
        
# #         avg_lon = tot_lon/len(processedcoords) *2        
# #         avg_lat = tot_lat/len(processedcoords) *2
        
        
# #         longitudes.append(avg_lon)
# #         lattitudes.append(avg_lat)
    
# # dfgeolocMunicipality["LAT(north)"] = lattitudes        
# # dfgeolocMunicipality["LON(east)"] = longitudes

# # dfgeolocMunicipality.drop('GM_CODE', inplace=True, axis=1)
# # dfgeolocMunicipality.drop('geometry', inplace=True, axis=1)


# # dfgeolocMunicipality.rename(columns={'GM_NAAM': 'Gemeentenaam'}, inplace=True)

# dfgeolocMunicipality = pd.read_csv('C:/Users/20175878/Documents/GitHub/2AMD20-group19/1_source_data/Gemeenten.csv', sep=',')
# dfgeolocMunicipality = dfgeolocMunicipality[['Gemeentenaam','LON(east)','LAT(north)']]

# dfgeolocMunicipality.to_csv('2_preprocessed_data/geolocMunicipality.csv', index=False)
# dfgeolocMunicipality

In [53]:
# # aftstanden

# import geopy.distance

# url_gem_locs = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/geolocMunicipality.csv"
# df_gem_locs = pd.read_csv(url_gem_locs).dropna()
# url_weer_locs = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/LocatieWeerStation.csv"
# df_weer_locs= pd.read_csv(url_weer_locs).dropna()

# df_distances = pd.DataFrame(columns=["Gemeentenaam", "distance", "WeerStation"])

# for gem in df_gem_locs.iterrows():
    
#     for weer in df_weer_locs.iterrows():
#         gem_lon = gem[1].get("LON(east)")
#         gem_lat = gem[1].get("LAT(north)")
        
#         gem_coords = (gem_lat, gem_lon)
        
#         weer_lon = weer[1].get("LON(east)")
#         weer_lat = weer[1].get("LAT(north)")
        
#         weer_coords = (weer_lat, weer_lon)
        
#         distance =  geopy.distance.geodesic(gem_coords, weer_coords).km
        
#         entry=[gem[1].get("Gemeentenaam"), distance, weer[1].get("WeerStation")]
#     #     print(entry)
#         #turn it into a dataframe and concat it with the previous entries
#         data = pd.DataFrame(pd.Series(entry, index=["Gemeentenaam", "distance", "WeerStation"])).T
#         df_distances = pd.concat([df_distances, data], axis=0, ignore_index=True)

# df_distances.to_csv('2_preprocessed_data/gem_weer_distances.csv', index=False)
# df_distances

In [54]:
# # aftstanden
# import geopy.distance

# url_gem_locs = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/geolocMunicipality.csv"
# df_gem_locs = pd.read_csv(url_gem_locs).dropna()
# url_weer_locs = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/LocatieWeerStation.csv"
# df_weer_locs= pd.read_csv(url_weer_locs)

# df_distances = pd.DataFrame(columns=["Gemeentenaam "distance "WeerStation"])

# for gem in df_gem_locs.iterrows():
#     for weer in df_weer_locs.iterrows():
#         gem_lon = gem[1].get("LON(east)")
#         gem_lat = gem[1].get("LAT(north)")
        
#         gem_coords = (gem_lat, gem_lon)
        
#         weer_lon = weer[1].get("LON(east)")
#         weer_lat = weer[1].get("LAT(north)")
        
#         weer_coords = (weer_lat, weer_lon)
        
#         distance =  geopy.distance.geodesic(gem_coords, weer_coords).km
        
#         entry=[gem[1].get("Gemeentenaam"), distance, weer[1].get("WeerStation")]

#         #turn it into a dataframe and concat it with the previous entries
#         data = pd.DataFrame(pd.Series(entry, index=["Gemeentenaam "distance "WeerStation"])).T
#         df_distances = pd.concat([df_distances, data], axis=0, ignore_index=True)
#         df_distances['Gemeentenaam'] = df_distances['Gemeentenaam'].str.upper()

# df_distances.to_csv('2_preprocessed_data/gem_weer_distances.csv', index=False)
# df_distances

In [55]:
urlgeolocMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Alle-gemeenten-in-Nederland.xls"
dfgeolocMunicipality = pd.read_excel(urlgeolocMunicipality) #, header=0, encoding= "unicode_escape", sep =";" )

lattitudes = []
longitudes = []
for i, row in dfgeolocMunicipality.iterrows():
        rawcoords = row["geometry"].split(",")
        processedcoords = []
        #idk why, but some coordinates start with "0.0" before the actual coordinate
        #Its probably alright to remove those
        for coord in rawcoords:
            coord = ''.join(c for c in coord if (c.isdigit() or c =='.'))
            if coord[:3] == "0.0":
                coord = coord[3:]
            if coord != "":
                processedcoords.append(float(coord))
        
        
        tot_lat = 0
        tot_lon = 0
        
        if len(processedcoords) % 2 != 0:
            print("oh noes something is wrong")
            
        #add together all lattitude and longitude values
        for i in range(len(processedcoords)):
            if i%2 == 0:
                tot_lon += processedcoords[i]
            else:
                tot_lat += processedcoords[i]
        
        avg_lon = tot_lon/len(processedcoords) *2        
        avg_lat = tot_lat/len(processedcoords) *2
        
        
        longitudes.append(avg_lon)
        lattitudes.append(avg_lat)
    
dfgeolocMunicipality["LAT(north)"] = lattitudes        
dfgeolocMunicipality["LON(east)"] = longitudes

dfgeolocMunicipality.drop('GM_CODE', inplace=True, axis=1)
dfgeolocMunicipality.drop('geometry', inplace=True, axis=1)

dfgeolocMunicipality.rename(columns={'GM_NAAM': 'Gemeentenaam'}, inplace=True)

dfgeolocMunicipality.to_csv('2_preprocessed_data/geolocMunicipality.csv', index=False)
dfgeolocMunicipality

              Gemeentenaam  LAT(north)  LON(east)
0               Appingedam   53.322591   6.846875
1                    Bedum   53.297651   6.595166
2             Bellingwedde   53.105875   7.109351
3                 Ten Boer   53.286829   6.707331
4                 Delfzijl   53.315060   6.942684
..                     ...         ...        ...
426        Zwartewaterland   52.611554   6.072289
427  Leidschendam-Voorburg   52.088067   4.402316
428     Pijnacker-Nootdorp   52.020271   4.415794
429            Montferland   51.919063   6.229242
430            Menterwolde   53.168513   6.878375

[431 rows x 3 columns]

In [5]:
# aftstanden

import geopy.distance

url_gem_locs = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/geolocMunicipality.csv"
df_gem_locs = pd.read_csv(url_gem_locs).dropna() #, header=0, encoding= "unicode_escape", sep =";" )
url_weer_locs = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/LocatieWeerStation.csv"
df_weer_locs= pd.read_csv(url_weer_locs).dropna()

df_gem_locs[['LAT(north)','LON(east)']] = df_gem_locs[['LAT(north)','LON(east)']].astype('float')
df_weer_locs[['LAT(north)','LON(east)']] = df_weer_locs[['LAT(north)','LON(east)']].astype('float')

df_distances = pd.DataFrame(columns=["Gemeentenaam", "distance", "WeerStation"])

for gem in df_gem_locs.iterrows():
    
    for weer in df_weer_locs.iterrows():
        gem_lon = gem[1].get("LON(east)")
        gem_lat = gem[1].get("LAT(north)")
        
        gem_coords = (gem_lat, gem_lon)
        
        weer_lon = weer[1].get("LON(east)")
        weer_lat = weer[1].get("LAT(north)")
        
        weer_coords = (weer_lat, weer_lon)
        
        distance =  geopy.distance.geodesic(gem_coords, weer_coords).km
        
        entry=[gem[1].get("Gemeentenaam"), distance, weer[1].get("WeerStation")]
    #     print(entry)
        #turn it into a dataframe and concat it with the previous entries
        data = pd.DataFrame(pd.Series(entry, index=["Gemeentenaam", "distance", "WeerStation"])).T
        df_distances = pd.concat([df_distances, data], axis=0, ignore_index=True)

df_distances.to_csv('2_preprocessed_data/gem_weer_distances.csv', index=False)
df_distances

      Gemeentenaam    distance  WeerStation
0       Appingedam  207.789513        ARCEN
1       Appingedam  146.421183     BERKHOUT
2       Appingedam  198.878649       CABAUW
3       Appingedam  155.567609       DEELEN
4       Appingedam  176.627672      DE BILT
...            ...         ...          ...
11201  Menterwolde   99.545981      TWENTHE
11202  Menterwolde   200.90223  VOORSCHOTEN
11203  Menterwolde  294.963477   VLISSINGEN
11204  Menterwolde  185.915891       VOLKEL
11205  Menterwolde  298.754554    WESTDORPE

[11206 rows x 3 columns]

**GET CLOSEST WEATHER STATIONS PER MUNCIPALITY**

In [57]:
df_distances = pd.read_csv('2_preprocessed_data/gem_weer_distances.csv')
df_distances['distance'] = df_distances['distance'].astype('float')
df_distances.loc[df_distances.groupby('Gemeentenaam').distance.idxmin()]

          Gemeentenaam     distance WeerStation
1731     'S-GRAVENHAGE  6717.693305  MAASTRICHT
3343  'S-HERTOGENBOSCH  6602.171121  MAASTRICHT
41            AALSMEER  6688.078195  MAASTRICHT
67              AALTEN  6496.363204  MAASTRICHT
119       ALBLASSERDAM  6673.013924  MAASTRICHT
...                ...          ...         ...
1679      ZUIDWOLDE DR  6555.054006  MAASTRICHT
8517           ZUNDERT  6649.789632  MAASTRICHT
8543           ZUTPHEN  6545.279884  MAASTRICHT
8595       ZWIJNDRECHT  6671.480440  MAASTRICHT
8621            ZWOLLE  6576.515701  MAASTRICHT

[331 rows x 3 columns]

**GEOMETRY CREATION**

importing happens here because geopandas requires GDAl package installation which is quite difficult. Therefore only one person in the group installed GDAL and saved the geometry in a df. In this way the other group members did not need to install the GDAL package.

In [58]:
# import geopandas as gpd
# import pyproj

In [59]:
# geometry_url = 'https://opendata.arcgis.com/datasets/620c2ab925f64ed5979d251ba7753b7f_0.geojson' 
# municipal_geometries = gpd.read_file(geometry_url)[['Gemeentecode','Gemeentenaam','geometry']].to_crs(pyproj.CRS.from_epsg(3819))

# municipal_geometries['Gemeentecode'] = municipal_geometries['Gemeentecode'].apply(lambda x: x[2:].lstrip('0')).astype(int)
# municipal_geometries['Gemeentenaam'] = municipal_geometries['Gemeentenaam'].apply(lambda x: x.upper())
# municipal_geometries = municipal_geometries.set_index('Gemeentecode')

# municipal_geometries.to_csv('C:/Users/20175878/Documents/GitHub/2AMD20-group19/2_preprocessed_data/municipal_geometries.csv', index=0)